---
---
$primaryColor: #4A90E2
    
.talk_content {
    text-align: left;
}

h3 {
  margin: 20px 0;
}

.experience {
  border-left: 3px solid $primaryColor;
  padding: 0 30px;
  margin-left: 185px;
  @media (max-width: 767px) {
    margin-left: 0;
    padding-right: 0;
  }
  .item {
    position: relative;
    margin-bottom: 40px;
    &::before {
      @include round-btn(-43px, 0, 22px, 22px, $bgColor);
      border: 3px solid $primaryColor;
    }
    &::after {
      @include round-btn(-37px, 6px, 10px, 10px, $primaryColor);
    }
  }
  .company-name {
    color: $primaryColor;
  }
  .location {
    position: absolute;
    right: 0;
    top: 2px;
    .fa {
      margin-right: 8px;
    }
  }
  .job-info {
    position: absolute;
    left: -185px;
    top: 0;
    .title {
      color: $primaryColor;
    }
    @media (max-width: 767px) {
      position: static;
      margin-bottom: 1rem;
    }
  }
}
