<!-- <div class="talk_container">
  <h2 id='activities'>Activities</h2>
  <div class="experience">
    <div class="item">
      <h5 class="company-name">A Step for AI CoPilot in Medical Diagnosis and Surgery</h5>
      <div class="job-info">
        <div class="title">Workshop</div>
        <div>2025.05</div>
      </div>
      <div>
      <p><b>A Step for AI CoPilot in Medical Diagnosis and Surgery</b><br>
                at the Workshop on "AI Medical Imaging and Embodied Surgical Robotics", Tianjin University Medical School, May 19, 2025.<br>
                (invited by CCF, CCF Digital Medicine TC and Tianjin University)</p>
        <img src="../images/activities/tianjinu202505.png" width="350" />
      </div>
    </div>

    <div class="item">
      <h5 class="company-name">A Step for AI CoPilot in Medical Diagnosis and Surgery</h5>
      <div class="job-info">
        <div class="title">Workshop</div>
        <div>2025.05</div>
      </div>
      <div>
      <p><b>A Step for AI CoPilot in Medical Diagnosis and Surgery</b><br>
                at the Workshop on "AI Medical Imaging and Embodied Surgical Robotics", Tianjin University Medical School, May 19, 2025.<br>
                (invited by CCF, CCF Digital Medicine TC and Tianjin University)</p>
        <img src="../images/activities/tianjinu202505.png" width="350" />
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid blue-bg">
  <div class="container timeline">

    <h2 class="pb-3 pt-2">Vertical Timeline</h2>

    <!-- timeline item -->
    <div class="timeline-item left">
      <div class="timeline-circle">2025.05</div>
      <div class="timeline-content">
        <p><b>A Step for AI CoPilot in Medical Diagnosis and Surgery</b><br>
        at the Workshop on "AI Medical Imaging and Embodied Surgical Robotics", Tianjin University Medical School, May 19, 2025.<br>
        (invited by CCF, CCF Digital Medicine TC and Tianjin University)</p>
        <img src="../images/activities/tianjinu202505.png" width="350" />
      </div>
    </div>

    <!-- another item -->
    <div class="timeline-item right">
      <div class="timeline-content text-right">
        <h5>Using Bootstrap</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        <img src="../images/activities/tianjinu202505.png" width="350" />
      </div>
      <div class="timeline-circle">2024.11</div>
    </div>

    <!-- third item -->
    <div class="timeline-item left">
      <div class="timeline-circle">2023.08</div>
      <div class="timeline-content">
        <h5>Now with Pug and Sass</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        <img src="../images/activities/tianjinu202505.png" width="350" />
      </div>
    </div>

  </div>
</div>
