<div class="talk_container">
    <h2 id='activities'>Activities</h2>
    <div class="timeline">

        <div class="timeline-event">
            <div class="timeline-date">May 2025</div>
            <div class="timeline-content">
                <p><b>A Step for AI CoPilot in Medical Diagnosis and Surgery</b> at the Workshop on "AI Medical Imaging and Embodied Surgical Robotics", Tianjin University Medical School, May 19, 2025. (invited by CCF, CCF Digital Medicine TC and Tianjin University) </p>
                <img src="../images/activities/tianjinu202505.png" width="550" />
            </div>
        </div>

        <div class="timeline-event">
            <div class="timeline-date">Mar 2025</div>
            <div class="timeline-content">
                <p><b>Attended MICCAI Asia</b> in Singapore. Delivered keynote on federated learning in surgery. </p>
                <img src="../images/activities/tianjinu202505.png" width="550" />
            </div>
        </div>

        <div class="timeline-event">
            <div class="timeline-date">Dec 2024</div>
            <div class="timeline-content">
                <p><b>Invited Talk at Tsinghua University</b> on Surgical AI and Future Hospitals. </p>
                <img src="../images/activities/tianjinu202505.png" width="550" />
            </div>
        </div>

    </div>
</div>
