<div class="talk_container">
  <h2 id="activities">Group Gallery</h2>
  <div class="gallery">

    <!-- 单图项 -->
    <div class="gallery-item">
      <img src="../images/lab_gallery/gallery1.png" alt="Gallary 1">
      <div class="caption">Invited by Prof. Zhang · May 2024</div>
    </div>

    <!-- 双图项 -->
    <div class="gallery-item multi">
      <img src="../images/lab_gallery/gallery2.png" alt="Gallary 2a">
      <img src="../images/lab_gallery/gallery3.png" alt="Gallary 2b">
      <div class="caption">Invited by Prof. Wang · Apr 2024</div>
    </div>

    <!-- 更多项，直接复制粘贴添加 -->
    <div class="gallery-item">
      <img src="../images/lab_gallery/gallery4.png" alt="Gallary 3">
      <div class="caption">Invited by Prof. Li · Mar 2024</div>
    </div>

    <div class="gallery-item">
      <img src="../images/lab_gallery/gallery5.png" alt="Gallary 4">
      <div class="caption">Invited by Prof. Chen · Jan 2024</div>
    </div>

    <!-- 可继续添加更多 -->
  </div>
</div>
