<div class="talk_container">
  <h2 id="activities">Publicity</h2>
  <h2 id="activities">Student Activities</h2>
  <h2 id="activities">Visiting</h2>
    <div class="gallery">
    <div class="gallery-item">
      <img src="../images/lab_gallery/peter202506.png">
      <div class="caption">Visit by Prof. Peter Kazanzides from Johns Hopkins University, June 2025</div>
    </div>

    <div class="gallery-item">
      <img src="../images/lab_gallery/mrc202505.png">
      <div class="caption">Prof. Sophia Bano, Prof. Daniel Elson and Prof. Ferdinando Rodriguez y Baena (from left to right) visited our lab in May 2025</div>
    </div>
    
    <div class="gallery-item">
      <img src="../images/lab_gallery/visit202505.png">
      <div class="caption">Prof. Nassir Navab and Prof. M. Ali Nasseri (TUM), and Assoc. Prof. Michael Yip (UCSD) visited in May 2025.</div>
    </div>

    <div class="gallery-item multi">
      <div class="multi-images">
        <img class="main-img" src="../images/lab_gallery/nicolas202503.png">
        <img class="poster-img" src="../images/lab_gallery/nicolas202503_poster.png">
      </div>
      <div class="caption">Visit and invited talk by Prof. Nicolas Padoy from the University of Strasbourg, Mar 2025.</div>
    </div>
  </div>
  
  <h2 id="activities">Seminar</h2>
</div>
