<h2 id="news">News</h2>
<div class="news_block">
      <ul>
        <li>[05/2025] One paper accepted to ACL 2025.</li>
        <li>[05/2025] One paper accepted to Nature Communications.</li>
        <li>[05/2025] One paper accepted to ICML 2025.</li>
        <li>[04/2025] One paper accepted to MedIA.</li>
        <li>[02/2025] I will serve as Area Chair for NeurIPS 2025.</li>
        <li>[10/2024] Three papers accepted to NeurIPS 2024.</li>
        <li>[10/2024] Listed in World's Top 2% Scientists 2023 by Stanford University (consecutive since 2020).</li>
        <li>[08/2024] One paper accepted to MedIA.</li>
        <li>[08/2024] One paper accepted to IEEE RA-L.</li>
        <li>[07/2024] Two papers accepted to ECCV 2024.</li>
        <li>[07/2024] Paper on EndoNeRF's application to data-driven surgical simulation won the IJCARS-MICCAI 2022 Special Issue Best Paper Award 3rd Prize.</li>
        <li>[06/2024] Eight papers accepted to MICCAI 2024 (with one Best Paper Award Finalist).</li>
        <li>[06/2024] One paper accepted to NEJM AI (The New England Journal of Medicine).</li>
        <li>[06/2024] One paper accepted to IEEE TMI and one paper accepted to MedIA.</li>
        <li>[05/2024] To serve in the Organization Committee of IROS 2025.</li>
    </ul>
</div>

<h2 id="news">Selected Awards</h2>
<div class="award_block">
    <ul>
        <li>Best Paper Award 3d Prize of IJCARS-MICCAI 2022 Special Issue, 2024.</li>
        <li> NSFC Excellent Young Scientists Fund (Hong Kong &amp; Macau), 2023.</li>
        <li> IEEE Engineering in Medicine and Biology Society (EMBS) Early Career Award, 2023.</li>
        <li> Beijing Science and Technology Award — First-class Award in Science and Technology Progress Award, 2022.</li>
        <li> 国家教育部高等学校科学研究优秀成果奖(科学技术), 自然科学二等奖 (排名: 3/5), 2022.</li>
        <li> MICCAI Young Scientist Publication Award, 2022. (last author)</li>
        <li> IEEE Trans. on Medical Imaging Distinguished Reviewer, Platinum Level, 2022.</li>
        <li> CUHK Department Exemplary Teaching Award, 2022.</li>
        <li> IEEE ICRA Best Paper Award in Medical Robotics, 2021. (last author)</li>
        <li> IEEE EMBS Prize Paper Award 2nd Place, Trans. on Biomedical Engineering, 2021. (first author)</li>
        <li> MICCAI Young Scientist Publication Impact Paper Award Finalist, 2021. (first author)</li>
        <li> 1st Prize of IJCARS-MICCAI Best Paper Award, 2021. (corresponding author)</li>
        <li> IEEE Trans. on Medical Imaging Distinguished Reviewer, Gold Level, 2021.</li>
        <li> Hong Kong Institution of Science Young Scientist Award in Engineering Science, 2018.</li>
        <li> CUHK Faculty Outstanding Thesis Award, 2018. </li>
        <li> Best Paper Award of Elsevier Medical Image Analysis-MICCAI, 2017. (first author)</li>
    </ul>
</div>


<h2 id="news">Teaching</h2>
<div class="teaching_block">
    <ul>
        <li> Spring 2025: BMEG3102 Bioinformatics <a href="https://www.cse.cuhk.edu.hk/~qdou/bmeg3102" target="_blank"> [course website]</a></li>
        <li> Fall2024: CSCI3230 Fundamentals of Artificial Intelligence (with Elite-Mirror ESTR 3108) <a href="https://www.cse.cuhk.edu.hk/~qdou/csci_3230" target="_blank"> [course website]</a></li>
        <li> Spring2024: BMEG3102 Bioinformatics</li>
        <li> Fall2023: CSCI3230 Fundamentals of Artificial Intelligence (with Elite-Mirror ESTR 3108) <a href="https://www.cse.cuhk.edu.hk/~qdou/csci_3230" target="_blank"> [course website] </a> </li>
        <li> Spring2023: BMEG3102 Bioinformatics <a href="https://www.cse.cuhk.edu.hk/~qdou/bmeg3102" target="_blank"> [course website] </a> </li>
        <li> Fall2022: CSCI3230 Fundamentals of Artificial Intelligence (with Elite-Mirror ESTR 3108)</li>
        <li> Spring2022: BMEG3102 Bioinformatics </li>
        <li> Fall2021: CSCI3230 Fundamentals of Artificial Intelligence (with Elite-Mirror ESTR 3108)</li>
        <li> Spring2021: BMEG5830 Medical Imaging (guest lecture)</li>
        <li> Spring2021: BMEG3102 Bioinformatics</li>
        <li> Guest lectures for: AIST1000, BMEG5830, BMEG3420</li>
    </ul>
</div>



<h2 id="news">Recent Services</h2>
<div class="services_block">
   <strong><p style="color: var(--primary)">  Conference Services:</p></strong>
    <ul>
        <li>Video and Media Committee Chair, Organization Committee, IROS, 2025</li>
        <li>Area Chair, NeurIPS 2025</li>
        <li> Program Co-Chair, International Conference on Medical Image Computing and Computer Assisted Intervention (<a href="https://conferences.miccai.org/2024/en/" target="_blank">MICCAI</a>), 2024</li>
        <li> Area Chair, Conference on Neural Information Processing Systems (<a href="https://neurips.cc/" target="_blank">NeurIPS</a>), 2024</li>
        <li> Area Chair, International Conference on Medical Image Computing and Computer Assisted Intervention (<a href="https://conferences.miccai.org/2023/en/" target="_blank">MICCAI</a>), 2023</li>
        <li> Program Co-Chair, International Conference on Information Processing in Computer Assisted Interventions (<a href="https://sites.google.com/view/ipcai-2023/home" target="_blank">IPCAI</a>), 2023.</li>
        <li> Program Co-Chair, International Conference on Medical Image Computing and Computer Assisted Intervention (<a href="https://conferences.miccai.org/2022/en/" target="_blank">MICCAI</a>), 2022</li>
        <li> Program Co-Chair, International Conference on Medical Imaging with Deep Learning (<a href="https://2022.midl.io/" target="_blank">MIDL</a>), 2022 &amp; 2021.</li>
        <li> Founding Board Member, <a href="https://monai.io/about.html" target="_blank">MONAI Stream</a> Advisory Working Group, since 2022.</li>
        <li> Area Chair &amp; Session Chair, Inter. Conference on Information Processing in Computer Assisted Interventions (<a href="https://sites.google.com/view/ipcai2022/home" target="_blank">IPCAI</a>), 2022.</li>
        <li> Organization Committee, NeurIPS Workshop on Medical Imaging (<a href="https://sites.google.com/view/med-neurips-2022" target="_blank">MedNeurIPS</a>), 2022, 2021 &amp; 2020.</li>
        <li> Organization Committee, CVPR Workshop on Medical Computer Vision (<a href="https://sites.google.com/view/cvprmcv21" target="_blank">CVPR-MCV</a>), 2022 &amp; 2021.</li>
        <li> Organization Committee, MICCAI Joint Workshop on Augmented Environments for Computer Assisted Interventions, Computer Assisted and Robotic Endoscopy, and Context-Aware Operating Theatres (<a href="https://workshops.ap-lab.ca/aecai2022/" target="_blank">AE-CAI | CARE | OR 2.0</a>), 2022 &amp; 2021 &amp; 2020.</li>
        <li> Organization Committee, MICCAI Workshop on Domain Adaptation and Representation Transfer (<a href="https://sites.google.com/view/dart2022/home" target="_blank">DART</a>), 2022 &amp; 2021.</li>
        <li> Organization Committee, ECCV Workshop on Medical Computer Vision (<a href="https://mcv-workshop.github.io/" target="_blank">ECCV-MCV</a>), 2022.</li> 
    </ul>

    <strong><p style="color: var(--primary)">  Journal Services:</p></strong>
    <ul> 
        <li>Editorial board member, npj digital surgery, 2025</li>
        <li> Associate Editor, IEEE Transactions on Medical Imaging (<a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=42" target="_blank">TMI</a>), since 2023.</li>
        <li> Associate Editor, Medical Image Analysis (<a href="https://www.sciencedirect.com/journal/medical-image-analysis" target="_blank">MedIA</a>), since 2023.</li>
        <li>Associate Editor, IEEE Transactions on Biomedical Engineering (<a href="https://www.embs.org/tbme/" target="_blank">TBME</a>), since 2024.</li>
        <li>Associate Editor, IEEE Robotics and Automation Letters (<a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=7083369" target="_blank">RAL</a>), since 2024.</li>  
        <li> Associate Editor, Computer Assisted Surgery (<a href="https://www.tandfonline.com/journals/icsu21" target="_blank">CAS</a>), since 2021.</li>
<!--         <li> Associate Editor, Journal of Machine Learning for Biomedical Imaging (<a href="https://www.melba-journal.org/" target="_blank">MELBA</a>), since 2021.</li> -->
    </ul>
</div>
