<link rel="stylesheet" href="../_styles/flickity.css" media="screen">
<script src="../_scripts/gallery.js"></script>
<script src="../_scripts/flickity.pkgd.min.js"></script>

<h2 id="gallery">Seminars</h2>
<div class="carousel-container">
  <div class="carousel carousel-main js-flickity" data-flickity='{ "selectedAttraction": 0.05,
    "friction": 0.5, "wrapAround": true, "autoPlay": 3000, "pauseAutoPlayOnHover": false, "pageDots": false}' >
    <div class="carousel-main-cell">
      <img src="../images/seminar/talk_csig.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="../images/seminar/talk_sz.jpg" />
    </div>
    <div class="carousel-main-cell">
      <img src="../images/seminar/talk_wanl.jpg" />
    </div>
    <div class="carousel-main-cell">
      <img src="../images/seminar/talk_tianjin.png" />
    </div>
    <div class="carousel-main-cell">
      <img src="../images/seminar/talk_srs.jpg" />
    </div>
    <div class="carousel-main-cell">
      <img src="../images/seminar/talk_webinar.png" />
    </div>
  </div>
  <br>
  <div class="carousel carousel-nav"
  data-flickity='{ "asNavFor": ".carousel-main", "wrapAround": true, "pageDots": false, "prevNextButtons": false}'> 
    <div class="carousel-cell is-nav-selected">
      <img src="../images/seminar/talk_csig.png" />
    </div>
    <div class="carousel-cell">
      <img src="../images/seminar/talk_sz.jpg" />
    </div>
    <div class="carousel-cell">
      <img src="../images/seminar/talk_wanl.jpg" />
    </div>
    <div class="carousel-cell">
      <img src="../images/seminar/talk_tianjin.png" />
    </div>
    <div class="carousel-cell">
      <img src="../images/seminar/talk_srs.jpg" />
    </div>
    <div class="carousel-cell">
      <img src="../images/seminar/talk_webinar.png" />
    </div>
  </div>
</div>
