<div class="talk_container">
  <h2 id='talk'>Invited Talks</h2>
  <div class="talk_content">
    <ul>

      <li><b>Embodied Aland XR for Surgical Robotics andMedical Education.</b><br>
        at the 5th edition of the Medical Augmented Reality Summer School, held at Balgrist University Hospital in Zurich, Switzerland, on August 15, 2025.
      </li>

      <li><b>智能腔镜机器人手术.</b><br>
        at NEJM 医学前沿专题会, Aug 8, 2025.
      </li>

      <li><b>Surgical Embodied Intelligence EnablesGeneral-purpose Surgical Task Automation.</b><br>
        at SRS 2025, July, 2025.
      </li>
      
      <li><b>The Role of Generative Models in Surgical Robot Learning.</b><br>
        at Workshop: Generative Models for Robot Learning, ICLR 2025, Apr 28.
      </li>
      
      <li><b>A Step for AI CoPilot in Medical Diagnosis and Surgery.</b><br>
        at the School of Artificial Intelligence, Jilin University, on Sep 5, 2025.<br>
        at the Workshop on "AI Medical Imaging and Embodied Surgical Robotics", Tianjin University Medical School, May 19, 2025. (invited by CCF, CCF Digital Medicine TC and Tianjin University)
      </li>

      <li><b>Innovation and Challenges in Embodied Intelligence for Surgical Robotics.</b><br>
        at the Forum on "Graphics and Imaging Technologies for Embodied Intelligence", hosted by the China Society of Image and Graphics (CSIG), Changsha, Hunan, May 9, 2025.
      </li>

      <li><b>手术机器人具身智能.</b><br>
        at the 7th International Symposium on Image Computing and Digital Medicine, Dec 21, 2024.
      </li>

      <li><b>智能增强现实技术在手术教学中的应用.</b><br>
        at Shenzhen Thoracic Surgery Society, Dec 7, 2024. (invited by Thoracic Surgery Department, Shenzhen People's Hospital)
      </li>

      <li><b>医学影像大模型应用与可靠性评测.</b><br>
        at Chinese Congress of Radiology 2024, Nov 16, 2024.
      </li>

      <li><b>基于图像的智能手术机器人的创新与挑战.</b><br>
        at School of Biomedical Engineering, Shenzhen University, Aug 9, 2024.
      </li>

      <li><b>基于图像的机器人智能手术.</b><br>
        at Southern University of Science and Technology, Apr 12, 2024.
      </li>

      <li><b>大数据趋势下智能医学图像分析的挑战与创新.</b><br>
        at Shanghai AI Lab Academic Forum – "Galaxy Talk" #5, Jan 11, 2023. (invited by Shanghai AI Lab)
      </li>

      <li><b>手术机器人中的具身智能---该领域的模拟器和前沿研究.</b><br>
        at Peking University Center on Frontiers of Computing – Embodied AI Day, Dec 11, 2022. (online)
      </li>

      <li><b>Image-based Robotic Surgery Intelligence.</b><br>
        at The 602nd Academic Seminar on Integration Science and Technology, Dec 7, 2023. (invited by Shenzhen Institute of Advanced Integration Technology, CAS & CUHK)<br>
        online talk at Heidelberg.ai / NCT Data Science Seminar series, Oct 4, 2023.<br>
        at <a href="https://sites.google.com/view/ieee-biip-webinars/" target="_blank"> IEEE EMBS Webinar Series</a>, Frontiers of Biomedical Imaging and Analysis, Jan 2022. (invited by Prof. Pingkun Yan)<br>
        at BME Department, Shanghai Jiao Tong University, Nov 2022. (invited by Prof. Yao Guo)<br>
        <!-- <iframe width="550" height="315" autoplay="false" src="./talk_video/IEEE_EMBS_Webinar_Series.mp4"> -->
        <!-- </iframe> -->
        <!-- <video width="550" height="315" controls>
          <source src="../talks_file/IEEE_EMBS_Webinar_Series.mp4#t=10" type="video/mp4"> -->
          <!-- <source src="/Users/jemary/Downloads/IEEE EMBS Webinar Series.mp4#t=10" type="video/mp4"> -->
        <!-- </video> -->
      </li>

      <li><b>Federated Learning Techniques for Collaborative Development and Validation of AI Models on Medical Images.</b><br>
        at <a href="https://www.surgery.cuhk.edu.hk/events.asp" target="_blank"> SenseTime/CUHK Faculty of Medicine Joint Seminar Series in AI & Healthcare</a>, Jun 2022. (invited by Prof. Xin Wang)
        <!--
        <video width="550" height="315" controls>
          <source src="./talk_video/IEEE_EMBS_Webinar_Series.mp4#t=10" type="video/mp4">
        </video>
        -->
      </li>

      <li><b>dVRK-based Robotic Surgery Intelligence.</b><br>
        at dVRK Global PI Meeting - Community Presentations, Mar 2022. (invited by Prof. Peter Kazanzides)
      </li>

      <li><b>The Role of Artificial Intelligence in the Next-generation Robotic Surgery.</b><br>
        at CUHK EMedI Summit: Medicine for the Future, Nov 2021. (invited by Prof. Philip Chiu and Prof. Jason Chan)<br>
        at ETH Biomedical Image Computing Group, zoom seminar, Sep 2021. (invited by Dr. Tianfei Zhou)<br>
        at Tianjin University, zoom seminar, Sep 2021. (invited by Prof. Liang Wan)<br>
        at CCAI 2021 中国人工智能大会 - 智能医学专题论坛, Oct 2021. (invited by Prof. Lei Zhang)<br>
        at Global Healthcare Innovation Academy Hong Kong Local Event, Jun 2021. (invited by Prof. Jing Qin)<br>
        at University of Strasbourg, zoom seminar, Mar 2021. (invited by Prof. Nicolas Padoy)
      </li>

      <li><b>Learning Reliable AI Models on Real-world Medical Images: Robustness, Generalization and Privacy.</b><br>
        at Technical University Munich, zoom seminar, Jan 2021. (invited by Prof. Daniel Rueckert)<br>
        at Department of Health Technology & Informatics, HKPolyU, Feb 2021. (invited by Prof. Jing Cai)
      </li>

      <li><b>Deep Model Generalization in Medical Image Segmentation <a href="../talks_file/MICS_qdou_0428_final.pdf">[slices]</a></b><br>
        at MICS Webinar, Apr 2020. 
        <a href="https://www.bilibili.com/video/BV1fk4y167aa/">[video]</a> (in Chinese)<br>
        at VALSE Webinar, May 2020.<br>
        at CVPR Medical Computer Vision Workshop, June 2020. <a href="https://www.youtube.com/watch?v=ERgo8hNOY88&t=1s">[video]</a> (YouTube)<br>
        <!-- <iframe width="550" height="315" src="https://www.youtube.com/embed/ERgo8hNOY88"> -->
        <!-- </iframe> -->
      </li>

      <li><b>Domain Generalization via Model-Agnostic Learning of Semantic Features</b><br>
        at <a href="https://www.imperial.ac.uk/data-science/research/multidisciplinary-labs/machine-learning-lab/imperial--neurips-2019/" target="_blank">Imperial @ NeurIPS 2019</a>, Nov 2019.
      </li>

      <li><b>Surgical Visual Perception Towards AI-Powered Context-Aware Operating Theaters</b><br>
        at MICCAI'19 Workshop of <a href="https://or20.univ-rennes1.fr/" target="_blank"> OR 2.0 Context-Aware Operating Theaters</a>, Oct 2019.<br>
        at MediCIS, Universite de Rennes 1, France, Nov 2019.
      </li>

      <li><b>Multimodal Learning from Unpaired Medical Images for Adaptation and Integration</b><br>
        at UCL Medical Image Computing Summer School (MedICSS), UK, Jul 2019.<br>
        at UCL/ICL Bio-Imaging Symposium, UK, May 2019.
      </li>

      <li><b>Towards AI-Powered Healthcare: Automated Medical Image Computing via Deep Learning</b><br>
        at Department of Computer Science, University of Birmingham, Nov 2019.<br>
        at Department of Computer Science, Sheffield University, May 2019.<br>
        at Department of Computer Science & Engineering, CUHK, Mar 2019.<br>
        at Department of Computer Science & Engineering, HKUST, Feb 2019.<br>
        at Hong Kong Institution of Science Annual Meeting, HK, Dec 2018.
      </li>

      <li><b>Towards AI-Powered Healthcare: Automated Medical Image Computing via Deep Learning</b><br>
        at Hong Kong Institution of Science Annual Meeting, HK, Dec 2018.
      </li>

      <li><b>Analyzing High Dimensional Medical Images with Deep Learning</b><br>
        at Hamlyn Centre for Robotic Surgery, Imperial College London, UK, Feb 2019.<br>
        at Smart Robotics and Artificial Intelligence Workshop organized by Signate Life Sciences, HK, Dec 2018.
      </li>

      <li><b>Deep Learning for AI-Powered Medical Image Analysis in Radiology</b><br>
        at Hong Kong College of Radiologists (HKCR) Annual Scientific Meeting, HK, Nov 2018.<br>
        at Engineering Medical Innovation (EMedI) Summit, HK, Aug 2018.
      </li>

      <li><b>Deep Learning for Medical Image Computing</b><br>
        at Department of Computing, HKPolyU, HK, Aug 2018.
      </li>

      <li><b>Medical Image Computing via Deep Learning - Detection and Segmentation</b><br>
        at BioMedIA lab in Imperial College London, UK, July 2018.<br>
        at German Center for Neurodegenerative Diseases (DZNE), Germany, Jul 2018.
      </li>

      <li><b>Intelligent Medical Image Detection and Segmentaiton via 3D Deep Learning</b><br>
        at <a href="https://www.re-work.co/events/ai-in-healthcare-summit-hong-kong-2018">AI in Healthcare Summit</a> organized by ReWork, HK, June 2018.
      </li>

      <li><b>Deep Learning for Medical Image Analysis: Algorithms and Applications</b><br>
        at Department of Clinical Oncology at Queen Mary Hospital HKU, HK, Apr 2018.
      </li>

      <li><b>3D Convolutional Networks for Computer-aided Lesion Detection in Medical Images</b><br>
        at A*Star Institute of High Performance Computing, Singapore, May 2017.
      </li>

      <li><b>Automated Brain Lesion Detection in MRI Scans with Hierarchical Features</b><br>
        at Siemens Corporate Research, Princeton, US, Jun 2016.
      </li>
    </ul>
  </div>
</div>
