<div class="talk_container">
    <h2 id='talk'>Invited Talks</h2>

    <div class="timeline">

    <div class="timeline-year">2025</div>
              
            <div class="timeline-entry">
            <div class="dot"></div>
            <div class="date">May 19</div>
            <div class="content has-image">
                <div class="text">
                <p><b>A Step for AI CoPilot in Medical Diagnosis and Surgery</b><br>
                    at the Workshop on "AI Medical Imaging and Embodied Surgical Robotics", Tianjin University Medical School (invited by CCF, CCF Digital Medicine TC and Tianjin University).
                </p>
                </div>
                <img src="../images/activities/tianjinu202505.png" alt="Tianjin U Workshop" />
            </div>
            </div>
        
            <div class="timeline-entry">
            <div class="dot"></div>
            <div class="date">May 9</div>
            <div class="content has-image">
                <div class="text">
                <p><b>Innovation and Challenges in Embodied Intelligence for Surgical Robotics</b><br>
                    at the Forum on "Graphics and Imaging Technologies for Embodied Intelligence", (hosted by the China Society of Image and Graphics (CSIG), Changsha, Hunan).
                </p>
                </div>
                <img src="../images/activities/csig202505.png" alt="Tianjin U Workshop" />
            </div>
            </div>
              
    <div class="timeline-year">2022</div>
              
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Nov</div>
                <div class="content has-video">
                <div class="text">
                    <p><b>Image-based Robotic Surgery Intelligence</b><br>
                    at BME Department, Shanghai Jiao Tong University, Nov 2022. (invited by Prof. Yao Guo) <br>
                    </p>
                </div>
                <div class="video-inline-block">
                    <video width="550" height="315" controls>
                    <source src="../talks_file/IEEE_EMBS_Webinar_Series.mp4#t=10" type="video/mp4">
                    </video>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Jun</div>
                <div class="content">
                <div class="text">
                    <p><b>Federated Learning Techniques for Collaborative Development and Validation of AI Models on Medical Images</b><br>
                    at <a href="https://www.surgery.cuhk.edu.hk/events.asp" target="_blank"> SenseTime/CUHK Faculty of Medicine Joint Seminar Series in AI & Healthcare</a>, Jun 2022. (invited by Prof. Xin Wang) <br>
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Mar</div>
                <div class="content">
                <div class="text">
                    <p><b>dVRK-based Robotic Surgery Intelligence</b><br>
                    at dVRK Global PI Meeting - Community Presentations (invited by Prof. Peter Kazanzides)
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Jan</div>
                <div class="content">
                <div class="text">
                    <p><b>Image-based Robotic Surgery Intelligence</b><br>
                    at <a href="https://sites.google.com/view/ieee-biip-webinars/" target="_blank">IEEE EMBS Webinar Series</a> (invited by Prof. Pingkun Yan)
                    </p>
                </div>
                </div>
            </div>
              
    <div class="timeline-year">2021</div>
              
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Nov-Mar</div>
                <div class="content">
                <div class="text">
                    <p><b>The Role of Artificial Intelligence in the Next-generation Robotic Surgery</b><br>
                    at CUHK EMedI Summit: Medicine for the Future, Nov 2021. (invited by Prof. Philip Chiu and Prof. Jason Chan) <br>
                    at ETH Biomedical Image Computing Group, zoom seminar, Sep 2021. (invited by Dr. Tianfei Zhou) <br>
                    at Tianjin University, zoom seminar, Sep 2021. (invited by Prof. Liang Wan) <br>
                    at CCAI 2021 中国人工智能大会 - 智能医学专题论坛, Oct 2021. (invited by Prof. Lei Zhang) <br>
                    at Global Healthcare Innovation Academy Hong Kong Local Event, Jun 2021. (invited by Prof. Jing Qin) <br>
                    at University of Strasbourg, zoom seminar, Mar 2021. (invited by Prof. Nicolas Padoy) <br>
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Feb, Jan</div>
                <div class="content">
                <div class="text">
                    <p><b>Learning Reliable AI Models on Real-world Medical Images: Robustness, Generalization and Privacy</b><br>
                    at Department of Health Technology & Informatics, HKPolyU, Feb 2021. (invited by Prof. Jing Cai) <br>
                    at Technical University Munich, zoom seminar, Jan 2021. (invited by Prof. Daniel Rueckert)
                    </p>
                </div>
                </div>
            </div>
              
    <div class="timeline-year">2020</div>
              
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Jun, May, Apr</div>
                <div class="content has-video">
                <div class="text">
                    <p><b>Deep Model Generalization in Medical Image Segmentation</b><br>
                    at CVPR Medical Computer Vision Workshop, June 2020. <a href="https://www.youtube.com/watch?v=ERgo8hNOY88&t=1s">[video]</a> (YouTube)<br>
                    at VALSE Webinar, May 2020. <br>
                    at MICS Webinar, Apr 2020. 
                    <a href="https://www.bilibili.com/video/BV1fk4y167aa/">[video]</a> (in Chinese) <br>
                    </p>
                </div>
                <div class="video-inline-block">
                <iframe width="550" height="315" src="https://www.youtube.com/embed/ERgo8hNOY88" frameborder="0" allowfullscreen></iframe>
                </div>
                </div>
            </div>
        <div class="timeline-year">2019</div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Nov</div>
                <div class="content">
                <div class="text">
                    <p><b>Domain Generalization via Model-Agnostic Learning of Semantic Features</b><br>
                    at <a href="https://www.imperial.ac.uk/data-science/research/multidisciplinary-labs/machine-learning-lab/imperial--neurips-2019/" target="_blank">Imperial @ NeurIPS 2019</a>
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Nov, Oct</div>
                <div class="content">
                <div class="text">
                    <p><b>Surgical Visual Perception Towards AI-Powered Context-Aware Operating Theaters</b><br>
                    at MediCIS, Universite de Rennes 1, France, <br>
                    at MICCAI'19 Workshop of <a href="https://or20.univ-rennes1.fr/" target="_blank"> OR 2.0 Context-Aware  Operating Theaters</a>.
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Jul</div>
                <div class="content">
                <div class="text">
                    <p><b>Multimodal Learning from Unpaired Medical Images for Adaptation and Integration</b><br>
                    at UCL Medical Image Computing Summer School (MedICSS), UK
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">May</div>
                <div class="content">
                <div class="text">
                    <p><b>Towards AI-Powered Healthcare: Automated Medical Image Computing via Deep Learning</b><br>
                    at Department of Computer Science, Sheffield University.
                    </p>
                </div>
                </div>
            </div>
                
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">May</div>
                <div class="content">
                <div class="text">
                    <p><b>Multimodal Learning from Unpaired Medical Images for Adaptation and Integration</b><br>
                    at UCL/ICL Bio-Imaging Symposium, UK
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Mar, Feb</div>
                <div class="content">
                <div class="text">
                    <p><b>Towards AI-Powered Healthcare: Automated Medical Image Computing via Deep Learning</b><br>
                    at Department of Computer Science & Engineering, CUHK, <br>
                    and at Department of Computer Science & Engineering, HKUST.
                    </p>
                </div>
                </div>
            </div>
                
    <div class="timeline-year">2018</div>
                  
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Dec</div>
                <div class="content">
                <div class="text">
                    <p><b>Analyzing High Dimensional Medical Images with Deep Learning</b><br>
                    at Smart Robotics and Artificial Intelligence Workshop organized by Signate Life Sciences, HK
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Dec</div>
                <div class="content">
                <div class="text">
                    <p><b>Towards AI-Powered Healthcare: Automated Medical Image Computing via Deep Learning</b><br>
                    at Hong Kong Instuition of Science Annual Meeting, HK
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Nov, Aug</div>
                <div class="content">
                <div class="text">
                    <p><b>Deep Learning for AI-Powered Medical Image Analysis in Radiology</b><br>
                    at Hong Kong College of Radiologists (HKCR) Annual Scientific Meeting, HK <br>
                    and Engineering Medical Innovation (EMedI) Summit, HK
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Aug</div>
                <div class="content">
                <div class="text">
                    <p><b>Deep Learning for Medical Image Computing</b><br>
                    at Department of Computing, HKPolyU
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Jul</div>
                <div class="content">
                <div class="text">
                    <p><b>Medical Image Computing via Deep Learning – Detection and Segmentation</b><br>
                    at BioMedIA lab, Imperial College London, <br>
                    and German Center for Neurodegenerative Diseases (DZNE), Germany
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Jun</div>
                <div class="content">
                <div class="text">
                    <p><b>Intelligent Medical Image Detection and Segmentation via 3D Deep Learning</b><br>
                    at <a href="https://www.re-work.co/events/ai-in-healthcare-summit-hong-kong-2018" target="_blank">AI in Healthcare Summit, Hong Kong</a>
                    </p>
                </div>
                </div>
            </div>
            
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Apr</div>
                <div class="content">
                <div class="text">
                    <p><b>Deep Learning for Medical Image Analysis: Algorithms and Applications</b><br>
                    at Department of Clinical Oncology, Queen Mary Hospital, HKU
                    </p>
                </div>
                </div>
            </div>
              
    <div class="timeline-year">2017</div>
              
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">May</div>
                <div class="content">
                <div class="text">
                    <p><b>3D Convolutional Networks for Computer-aided Lesion Detection in Medical Images</b><br>
                    at A*Star Institute of High Performance Computing, Singapore
                    </p>
                </div>
                </div>
            </div>
              
    <div class="timeline-year">2016</div>
              
            <div class="timeline-entry">
                <div class="dot"></div>
                <div class="date">Jun</div>
                <div class="content">
                <div class="text">
                    <p><b>Automated Brain Lesion Detection in MRI Scans with Hierarchical Features</b><br>
                    at Siemens Corporate Research, Princeton, US
                    </p>
                </div>
                </div>
            </div>
              
    </div>
</div>
